{
    db: {
        name: "node_backend",
        password: "root",
        username: "root",
        host:"localhost",
        port:3306
    },
    app: {
        name: "MiS C - Production"
    },
    misA:"http://localhost:3000",
    misB:"http://localhost:3001",
    misC:"http://localhost:3002",
    misD:"http://localhost:3003",
}