# Github Node Default

pids
logs
results

npm-debug.log
package-lock.json
node_modules

# From Mean Stack
.DS_Store
node_modules/
public/lib
test/coverage/
migrations/

# Configuration Files
/config/env/development.json5
/config/env/production.json5
/config/env/test.json5

*.local

# IDE files
.idea
.vscode
/.*.md.html
.settings
.project
.classpath
*~
*.swp
*.swo
